*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
.card_body{
  cursor: pointer;
  margin: 3%;
}
.rounded-circle{
  width: 30px;
  height: 30px;
}
#details{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 1;
  overflow: scroll;
}
.text-info{
  cursor: pointer;
}
